<!--Footer-->
<footer class="page-footer text-center font-small mt-4">
	<hr>

	<!-- Social icons -->
	<div id="social_handle" class="pb-4">
		<!-- Facebook -->
		<a href="https://www.facebook.com/" target="_blank">
			<i class="fab fa-facebook-f mr-3"></i>
		</a>
		<!-- Twitter -->
		<a href="https://twitter.com/" target="_blank">
			<i class="fab fa-twitter mr-3"></i>
		</a>
		<!-- Youtube -->
		<a href="https://www.youtube.com/" target="_blank">
			<i class="fab fa-youtube mr-3"></i>
		</a>
		<!-- Google -->
		<a href="https://plus.google.com/" target="_blank">
			<i class="fab fa-google-plus-g mr-3"></i>
		</a>
		<!-- Github -->
		<a href="https://github.com/vjani99/Swapp" target="_blank">
			<i class="fab fa-github mr-3"></i>
		</a>
	</div>
	
	<!--Copyright-->
	<div id="copyright">
		© 2021 Copyright
		<i class="fab fa-staylinked fa-lg ml-1"></i>
		<span class="navbar-brand mr-2 ml-0" style="font-family: Courier; font-size: 16px;">pot</span>
	</div>
</footer>