{% extends "parking_detection/base.html" %}
{% load static %}

{% block title %}
    Contact Us
{% endblock %}

{% block head %}
    <style>
        /* GLOBAL STYLES */

        /* CUSTOMIZE THE CAROUSEL */

        #copyright {
            font-size: 12px;
        }

        #social_handle > a:hover {
            text-decoration: none;
            color: black;
            font-size: 18px;
        }

        .grey-text {
            color: grey;
        }

        .dark-grey-text {
            color: #2e2e2e
        }

        #navbar {
            background-color: rgba(220, 53, 69, 1);
        }

        #brand {
            margin-right: 60px;
            margin-left: 50px;
        }

        #home {
            color: white;
        }

        #home:hover {
            text-decoration: none;
            color: black;
        }

        #title {
            padding-top: 100px;
            padding-bottom: 10px;
        }

        .container {
            text-align: center;
        }

        .main-container {
        	margin-left: 10%;
        	margin-right: 10%;
        	border-radius: 5px;
			background-color: #f2f2f2;
			padding: 20px;
        }

        input[type=text], input[type=email], select {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		input[type=submit] {
			width: 100%;
			background-color: blue;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

		input[type=submit]:hover {
			background-color: darkblue;
		}

		.error-type {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}

		label {
			margin-bottom: 0px;
		}

    </style>
{% endblock %}

{% block body %}

    {% include "parking_detection/navbar.html" %}

    <div id='title' class="container"><h1>Report</h1></div>

	<div class="main-container">
		<form class="report-form">
			<label for="fullname">Full Name (Optional)</label>
			<input type="text" id="fullname" name="fullname"/>

			<label for="email">Email (Optional)</label>
			<input type="email" id="email" name="email"/>

			<label for="parking_lot">Parking Lot</label>
			<select id="parking_lot" name="parking_lot">
				<option value="harriscenter">Harris Center</option>
				<option value="harriscommons">Harris Commons</option>
				<option value="southgate">Southgate</option>
			</select>

			<label for="zone">Zone Number</label>
			<select id="zone" name="zone">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>

			<div class="error-type">
				<label for="wrong-availabile">Inaccurately Detected Available</label>
				<input type="radio" id="wrong-availabile" name="error-type">
				<label for="wrong-unavailabile">Inaccurately Detected Unavailable</label>
				<input type="radio" id="wrong-unavailabile" name="error-type">
			</div>

			<input type="submit" value="Submit">
		</form>
	</div>

    </body>


{% endblock %}